.mr-auto{ margin-right: auto; }
.ml-auto{ margin-left: auto; }
.subscribe-button{padding: .6rem 1rem;font-size: 1.25rem;margin-left: 1px;}
.mt-80{ margin-top: 80px; }
.mt-70{ margin-top: 70px; }
.mt-60{ margin-top: 60px; }
.mt-50{ margin-top: 50px; }

.function{ display: none; }
.check_img_errs{ max-width: 100%; }
.item-game-wrapper {
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}
.item-game-wrapper:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.item-game-wrapper .item-info .item-title a {
    font-size: 15px !important;
    font-family: 'Roboto-Condensed-Bold';
}
.item-listing .item{
	margin: 0;
}
.item-listing.list .item {
    padding: 7px;
}
.item-game-wrapper .item-info {
    padding: 15px 15px 15px 15px;
}
.item-game-wrapper .item-info .item-title {
    text-transform: unset;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
    min-height: 42px;
    max-height: 42px;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Roboto-Condensed-Bold';
}
.item-game-wrapper .item-info .item-title a {
    font-size: 15px !important;
    font-family: 'Roboto-Condensed-Bold';
    color: #000;
}
.item-game-wrapper .item-info .item-price {
    text-align: center;
    margin-top: -8px;
}
.item-game-wrapper .item-info .item-btn-a {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.item-game-wrapper .item-info .item-btn-a a {
    color: #b2b2b2;
    margin: 0 2px;
}


.item-game-wrapper .item-info .item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #21beff;
    border: 1px solid #21beff;
    border-radius: 3px;
    padding: 3px 18px;
    width: fit-content;
    text-align: center;
    margin: 10px auto 0;
        margin-top: 10px;
    font-size: 12px;
    font-family: 'Roboto-Condensed-Bold';
    cursor: pointer;
}
.item-game-wrapper .item-info .item-btn:hover {
    background-color: #21beff;
    color: #fff;
}
.item-game-wrapper .item-info .item-price .cur-p {
    font-family: 'Roboto-Condensed-Bold';
    margin-left: 2px;
}
.item-game-wrapper .item-info .item-price .old-p {
    text-decoration: line-through;
    margin-left: 2px;
}
.item-game-wrapper .item-info .item-price p {
    margin: 0 0 10px;
}
.menu-bg{ background-color: #fff !important ;/*rgba(134, 158, 158, 0.07)*/}
.navbar-dark .navbar-toggler{ background-color:#000;  }
.slogonmobi{ color: #000; }
/*
    for home templates
*/
.imgs {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: 0 3px 9px rgba(43,135,218,.2), 0 14px 0 -7px #fff, 0 14px 9px -6px rgba(43,135,218,.2), 0 25px 0 -12px #fff, 0 25px 9px -11px rgba(43,135,218,.2);
    border-radius: 5px 5px 0 0;
}
.imgs img {
    max-width: 100%;
}
.card {
    word-wrap: break-word;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-title {
    font-size: 1.3em;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
} 
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.rounded {
    border-radius: .25rem !important;
}
.bg-white {
    background-color: #fff !important;
}
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.btn-green-bg {
     
    justify-content: center;
    align-items: center;
    border: 1px solid #29b474;
    color: #fff; 
    cursor: pointer;
    font-family: 'Roboto-Condensed-Bold';
    background-color: #29b474; 
    border-radius: 2px !important;
}
.btn-orange-bg {
    
    justify-content: center;
    align-items: center;
    border: 1px solid #ffb517;
    color: #fff; 
    cursor: pointer;
    font-family: 'Roboto-Condensed-Bold';
    background-color: #ffb517; 
    border-radius: 2px !important;
}
.d-flex {
    display: flex;
}
.template_details h1{ margin: 0; text-transform: uppercase; }
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.full-width{
  width:100%; 
}
.bold{ font-weight: bold; }
.hot{ color: red; }
