body {
    background-color: #fff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.messenger-sidebar {
    border-right: solid 1px #ddd;
    height: 100vh;
}
.conversation {
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin-bottom: 1px;
}
.conversation:hover, .conversation.active {
    background-color: #f2f2f2;
}
.conversation label {
    font-size: 17px;
}
.conversation .unread_count {
    position: absolute;
    top: calc(50% - 10px);
    right: 5px;
    border-radius: 20px;
    padding: 5px 8px;
}
.conversation .avatar {
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
.messenger-sidebar .header {

}
.messenger-sidebar .header h3 {
    
}
.messenger-sidebar .header .avatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
main {
    padding-left: 15px;
    padding-right: 15px;
}
.messenger-chatbox {
    border-right: solid 1px #ddd;
    height: 100vh;
    background: rgb(240, 242, 245);
}
.messenger-chatbox .header {
    border-bottom: solid 1px #ddd;
    background-color: #fff;
}
.messenger-chatbox .header h3 {
    
}
.messenger-chatbox .header .avatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.chatbox-content .message {
    display: inline-block;
    padding: 5px 14px;
    background: rgb(0, 153, 255);
    color: white;
    border-radius: 50px;
    border: solid 1px rgb(0, 153, 255);
}
.chatbox-content .message-line {
    margin-bottom: 10px;
}
.chatbox-content {
    height: calc(100vh - 166px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message-line.own {
    text-align: right;
}
.message-line.own .message {
    background: #fff;
    color: #222;
    border: solid 1px #ccc;
}
.chatbox-editor {
    border-top: solid 1px #ddd;
    background-color: #fff;
}
.chatbox-editor textarea{
    background: rgb(240, 242, 245);
    border: none;
    width: 100%;
    resize: none;
    height: 40px;
    display: block;
}
.chatbox-editor .textarea-cover {
    background: rgb(240, 242, 245);
    padding: 10px 20px;
    border-radius: 50px;
}
.chatbox-editor textarea:focus {
    outline: transparent;
    box-shadow: none;
}
.sidebar-contact .avatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.rightbar {
    height: 100vh;
    overflow: auto;
}
